@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

@font-face {
    font-family: intro;
    src: url(../fonts/intro/Intro\ Regular\ Alt\ Regular.otf);
}

*{
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100vw;
}

:root{
    --color-blue-default:#062A73;
    --color-blue-dark: #010f1b;
    --color-blue-clear: #8493BF;
    --color-orange: #F27405;
    --color-orange-clear: #F28705;
    --color-black-clear: #0D0D0D;

    --font-default:'Montserrat', sans-serif;
    --font-default-h1:'intro', sans-serif;
}
/*-------------READER START--------------*/
header{
    background-color: var(--color-blue-dark);
    padding-top: 30px;
}
nav{
    justify-content: space-around;
    display: flex;
}
header nav ul a{
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    font-weight: 550;
    font-family: var(--font-default);
}
header nav li{
    display: inline-block;
    margin: 20px;
}
header nav a:hover{
    color: var(--color-orange);
    transition: 0.5s all;
}
#btn-nav-contato{
    padding: 8px;
    border: 2px solid var(--color-orange);
    border-radius: 15px;
}
#btn-nav-contato:hover{
    color: #ffffff;
    background-color: var(--color-orange);
    transition: 0.5s all;
}
/*-------------READER END--------------*/

/*-------------LANDING PAGE START--------------*/
main div#landing-page{
  padding: 85px 130px 0px 130px;
  height: 86vh;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  background-color: var(--color-blue-dark);
}
aside#landing-page-text h1{
    padding-top: 90px;
    font-size: 50px;
    font-family: var(--font-default-h1);
    color: var(--color-orange);
}
aside#landing-page-text p{
    padding: 15px 0px;
    font-size: 15px;
    font-family: var(--font-default-h1);
    color: #e0e0e0e5;
}
#btn-landing-page-contact {
    border: none;
    font-family: var(--font-default);
    text-decoration: none;
    list-style: none;
    padding: 12px;
    border-radius: 6px;
    width: 200px;
    font-size: 14px;
    background-color: var(--color-blue-clear);
    color: var(--color-black-clear);
    font-weight: 700;
}
#btn-landing-page-contact:hover{
    color: #ffffff;
    background-color: var(--color-orange);
    transition: 0.5s all;
}
article#landing-page-img img{
    width: 550px;
}
/*-------------LANDING PAGE END--------------*/

/*-------------MAIN--------------*/
main section.font-h1{
    font-family: var(--font-default-h1);
}
main section#we-do{
    background-color: #fff;
    color: var(--color-orange);
    height: 400px;
}
main section#we-did{
    background-color: #fff;
    color: var(--color-orange);
    height: 400px;
}
/*-------------INFORMATION WE DO--------------*/

main #information{
    max-width: 1040px;
    margin: auto;
}
main section#information {
    max-width: 1000px;
    margin: auto;
}
/*-------------FOOTER--------------*/
 footer{
    background-color: var(--color-black-clear);
    height: 200px;
    text-align: center;
    padding-top: 40px;
 }
 footer li{
    text-decoration: none;
    list-style: none; 
    display: inline-block;
    font-family: var(--font-default);
    font-weight: 600;
    color: #fff;
    padding: 18px;
}
a:hover{
    color: var(--color-orange);
    transition: .5s all;
}
footer p{
    color: #fff;
    font-family: var(--font-default);
    padding-top: 20px;
}